__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.tmp
*.temp

.venv/
venv/
**/.venv/
**/venv/
**/__pycache__/

logs/
runtime/
@AutomationLog.txt

modules/**/audio_cache/
modules/**/tts_cache/
modules/**/_internal/
modules/**/site-packages/
modules/subtitle_extractor_source/**/.venv/
modules/subtitle_extractor_source/**/test/
modules/subtitle_extractor_source/**/backend/models/
modules/subtitle_extractor/unins000.dat
modules/subtitle_extractor_source/**/backend/subfinder/linux/VideoSubFinderCli
modules/subtitle_extractor_source/**/backend/subfinder/macos/VideoSubFinderCli
modules/subtitle_extractor_source/**/design/*.pdf

*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.m4a
*.flv
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.srt
*.ass
*.ssa
*.ort
*.onnx
*.ckpt
*.pdmodel
*.pdiparams
*.pdiparams.info
*.dll
*.exe
*.pak
*.bin
